body{
	background-color: #fff;
	font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
}
.containar{
	text-align: center;
}
.logo{
	
	margin-top: 100px;
	height: 120px;
	width: 170px;

}
.tittle{
	color: rgba(0, 0, 0, 1);
	font-family: inherit;
	font-size: 40px;
	font-weight: 300;
	margin-top: 10px;
	cursor: default;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: center;

    
}
.ins{
	  font-family: inherit;
	  font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: center;
}
input[type=text]{
	border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-family: inherit;
    font-size: 17px;
    height: 42px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 286px;
}
input[type=password]{
	border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-family: inherit;
    font-size: 17px;
    height: 42px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width:286px
}
::placeholder{
  color: #a8a8a8;
  font-weight: normal;
 font-family: inherit;}
.text-btn{
	background: #fff;
    color: #0084ff;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    border: none;
    font-family: inherit;
    margin-bottom:20px; 
}
.text-btn:hover{
	background-color: #ADD8E6	;
}
.keep{
    color: #0084ff;
}

.footer {
  margin-top:150px;
  margin-bottom: 20px;

  margin-left: 450px;
  
  width: 50%;
  font-size: 11px;
  font-family: inherit;
  text-align: center;
  font-weight: lighter;
  padding-left: 5px;
  text-decoration: none;
}

.footer li {
  display: block;
  float: left;
  margin-left: 12px;
  color: #a8a8a8;
  font-family: inherit;
  padding-left: 5px;
  text-decoration: none;
  text-align: center;

}

.footer li a {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  background-color: #fff;
  color: #a8a8a8;
  font-family: inherit;
  padding-right: 5px;
  text-decoration: none;

}

.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
}


#sign_in{
  color: #a8a8a8;
}